@import '@/shared/scss/input.scss';

.authorization {
    display: flex;
    gap: 8px;

    &__label {
        font-size: 12px;
        color: dimgrey;
        padding: 0 4px 2px;
        display: block;
    }

    &__input {
        @extend .input;
    }
}