.header {
  background: ghostwhite;
  box-shadow: 0 1px 5px rgba(black, .1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  &__logotype {
    width: auto;
    height: 30px;
  }

  &__navigation-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  &__navigation-link {
    text-decoration: none;
    transition: color 0.25s;

    &:hover {
      color: burlywood;
    }

    &:active {
      color: darken(burlywood, $amount: 25%);
    }
  }
}
