@import "@/scss/buttons.scss";

.addon-info {
  display: flex;
  flex-direction: column;
  padding: 8px;

  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
  }

  &__image {
    width: 140px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
  }

  &__header-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin: 0;
  }

  &__links {
    display: flex;
    flex-direction: row;
    padding: 0 2px;
    gap: 4px;
    margin-bottom: 4px;
  }

  &__guide-link, &__website-link {
    color: black;
    font-size: 12px;
    text-decoration: underline;
    transition: color .25s;

    &:hover {
      color: goldenrod;
    }

    &::after {
      background: url('/link-icon.svg');
      background-size: contain;
      display: inline-block;
      content: '';
      width: 12px;
      height: 12px;
    }
  }

  &__controls {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  &__install-button, &__update-button {
    @extend %button, %button--primary;
    font-size: 12px;
  }

  &__uninstall-button {
    @extend %button, %button--secondary;
    font-size: 12px;
  }

  &__button-icon {
    opacity: .75;
    width: 14px;
    height: 14px;
  }

  &__separator {
    background: whitesmoke;
    height: 1px;
    margin: 8px 0;
  }

  &__description {
    margin: 0;
    font-size: 12px;
  }
}