@import '@/shared/scss/input';

.settings {
    padding: 12px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__input-group {
        width: 60%;
        display: flex;
        gap: 4px;
        justify-content: flex-end;
    }

    &__input {
        @extend .input;
        flex: 1;
    }

    &__button {
        text-transform: uppercase;
        background: gold;
        border: none;
        border-radius: 8px;
        box-shadow: 1px 1px 4px rgba(black, .05);
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color .25s;
        padding: 0 16px;
        height: 40px;

        &:hover {
            background-color: lighten(gold, 15%);
        }

        &:active {
            background-color: darken(gold, 15%);
        }

        &:disabled {
            cursor: default;
            background-color: desaturate(lighten(gold, 25%), 25%);
        }
    }
}