@import '@/scss/input';
@import '@/scss/buttons';

.settings {
    padding: 12px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__input {
        @extend %input;
        flex: 1;
    }

    &__button {
        @extend %button;
        border-radius: 8px;
        font-size: 12px;
        height: 40px;

        &--primary {
            @extend %button--primary;
        }

        &--secondary {
            @extend %button--secondary;
        }
    }
}